.MuiImageList-root.card-list-image {
  padding: 10px 5px;
}

.MuiImageListItem-root.card-list-image-item {
  border: 1px solid black;
  transition: border 0.2s ease-in-out;
}

.MuiImageListItem-root.card-list-image-item:hover {
  border: 2px solid #fff;
}

