.card-page-card-info-wrapper {
  width: 100%;
  display: block;
  position: relative;
  box-sizing: border-box;
  height: 100%;
}

.card-page-card-info {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
  padding-bottom: 2em;

  .mana-text-only {
    p:first-child {
      margin-top: 0;
    }
  }
  .row {
    border-bottom: 1px solid gray;
    padding: 5px 0;
    display: flex;
    gap: 10px;

    .value {
      width: 60%;
    }

    .label {
      width: 130px;
      text-align: right;
      font-weight: bold;
    }
    .flex-center {
      display: flex;
      align-items: center;
      justify-content: end;
    }
  }
}

@media screen and (max-width: 600px) {
  .card-page-card-image {
    transform: scale(0.7);
    transform-origin: center;
  }
  .card-page-card-info {
    padding: 0 0 2em 0;
    .row {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .label {
        display: flex;
        justify-content: start;
        width: 100%;
      }
      .value {
        width: 100%;
      }
    }
  }
}